<h2>It's Halloween!!!!</h2>
<p>Time to hunt for candy! It's Halloween and you are out trick or treating. Your goal is to return home with as much candy
  as possible. Beware! There are bullies and abandoned houses and dentists in your neighborhood. Be clever and have fun with
  the rest of the ghoulies out tonight!</p>
<div class="container">
  <form class="characteristics">
    <div class="name">
      <label for="name">Your name:</label>
      <input class="name form-control" #newName name="name" type="text">
    </div>
    <div class="costume">
      <h4>Halloween Costume:</h4>
      <select #selectedCostume>
        <option [ngValue]="ghost">ghost</option>
        <option [ngValue]="witch">witch</option>
        <option [ngValue]="devil">devil</option>
        <option [ngValue]="cowboy">cowboy</option>
        <option [ngValue]="princess">princess</option>
        <option [ngValue]="blackCat">black cat</option>
        <option [ngValue]="pirate">pirate</option>
      </select>
    </div>
    <div class="prank">
      <h4>Favorite Prank:</h4>
      <select #selectedPrank>
        <option [ngValue]="eggHouse">egg the house</option>
        <option [ngValue]="tpHouse">toilet paper the house</option>
        <option [ngValue]="dingDongDitch">ding dong ditch</option>
        <option [ngValue]="sillyString">silly string the car</option>
        <option [ngValue]="soapWindows">soap the windows</option>
      </select>
    </div>
    <div class="candyFavorite">
      <h4>Favorite Candy:</h4>
      <select #selectedCandy>
        <option [ngValue]="candyCorn">candy corn</option>
        <option [ngValue]="caramelApple">caramel apple</option>
        <option [ngValue]="candyCigarettes">candy cigarettes</option>
        <option [ngValue]="blackLicorice">black licorice</option>
        <option [ngValue]="candyPumpkins">candy pumpkins</option>
      </select>
    </div>
    <button (click)="getValueFromSelect(newName.value, selectedCostume.value, selectedPrank.value, selectedCandy.value)">click me!</button>
  </form>
  <hr>
  <div *ngIf="player" class="game-start">
    <h3>Hi {{player.name}}, Let's go Trick or Treating!</h3>
    <p>You are standing on a suburban street dressed as a {{player.costume}}. You can't wait to get out there and get some {{player.candy}}!
      And if anyone disappoints you, you can always {{player.prank}}. There is a house to your left and another to the right.
      Which do you visit?</p>
    <button id="left" (click)="makeChoice('left')" class="btn" name="button">Go left</button>
    <button id="right" (click)="makeChoice('right')" class="btn" name="button">Go right</button>
  </div>


</div>
