<h2>The Next House on the Block
  <small>{{player.candyCount}} </small>
</h2>
<p>{{storylineToDisplay.description}}</p>
<p></p>
<button id="left" (click)='trickOrTreat("ring")' class="btn" name="button">{{storylineToDisplay.choiceA}}</button>
<button id="right" (click)='trickOrTreat("prank")' class="btn" name="button">{{storylineToDisplay.choiceB}}</button>

<div *ngIf="prankOrRing == 'prank'">
  <p>{{player.prank}}</p>
  <button (click)="makeHouseChoice('left')" class="btn left" name="button">Go left</button>
  <button (click)="makeHouseChoice('right')" class="btn right" name="button">Go right</button>
</div>
<div *ngIf="prankOrRing == 'ring'">
  <p>Collect one candy!</p>
  <button (click)="makeHouseChoice('left')" class="btn left" name="button">Go left</button>
  <button (click)="makeHouseChoice('right')" class="btn right" name="button">Go right</button>
</div>
